<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{session['user_first_name']}}!</h1>

    <h2>{{x.name}}</h2>

    <p>Description: {{x.description}}</p><br>
    <p>Under 30 Min: {{x.under30}}</p><br>
    <p>Instructions: {{x.instructions}}</p><br>
    <p>Date Made: {{x.made_on}}</p><br>


    <a href="/success">Dashboard</a><br>
    <a href="/logout">Logout</a>
</body>
</html>